[user]
	name = Kevin Jalbert
	email = kevin.j.jalbert@gmail.com
	signingkey = 872695935A2B2C8A

[core]
	excludesfile = /Users/jalbert/.gitignore_global
  editor = nvim
  filemode = true
	pager = diff-so-fancy | less --tabs=4 -RFX

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 

[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[branch]
  autosetuprebase = always

[push]
  default = simple

[color]
  ui = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[alias]
  pf = push --force-with-lease
  st = status -s
  co = checkout
  ls = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
  la = "!git config -l | grep alias | cut -c 7-"
  cdiff = "diff --cached"
  save = !sh -c 'export PREV=$(git symbolic-ref HEAD|cut -d/ -f3-) && git checkout -b "$1" && git commit -am "$1" && git checkout "$PREV"' -
  git = !exec git

[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustexitcode = true

[merge]
  tool = Kaleidoscope

[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[difftool]
  prompt = false

[mergetool]
  prompt = false

[diff]
  tool = Kaleidoscope
	algorithm = patience

[github]
  user = kevinjalbert

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
  required = true
	process = git-lfs filter-process

[pager]
  diff = diff-so-fancy | less --tabs=1,5 -RFX
  show = diff-so-fancy | less --tabs=1,5 -RFX

[commit]
	gpgsign = true
	template = /Users/jalbert/.gitmessage

[gpg]
  program = /usr/local/bin/gpg
[protocol]
	version = 2
[credential]
	helper = osxkeychain
[http "https://git-mirror.shopifycloud.com"]
	cookieFile = /tmp/galaxy.cookies
	saveCookies = true
[url "https://git-mirror.shopifycloud.com/Shopify/"]
	insteadOf = https://github.com/Shopify/
	insteadOf = git@github.com:Shopify/
[url "https://github.com/Shopify/"]
	pushInsteadOf = https://github.com/Shopify/
[url "git@github.com:Shopify/"]
	pushInsteadOf = git@github.com:Shopify/
