# Ignore everything, and selectively whitelist
*

##### WHITELIST #####

# neovim
!.config/nvim

# mackup
!.mackup
!.mackup.cfg

# tips
!.tips

# bin
!bin

# git
!.git-templates
!.gitconfig
!.gitignore_global

# ruby
.gemrc
.pryrc
.rubocop.yml
.rspec

# zsh
.zaliases
.zexports
.zlogin
.zshrc
