# Ignore everything except directories
*
!*/

##### WHITELIST #####

# neovimm
!.config/nvim/**/*

# mackup
!.mackup/**/*
!.mackup.cfg

# tips
!.tips/**/*

# bin
!bin/**/*

# git
!.git-templates
!.gitconfig
!.gitignore_global
!.stCommitMsg

# ruby
!.gemrc
!.pryrc
!.rspec

# zsh
!.zaliases
!.zexports
!.zlogin
!.zshrc

# dotfiles
!README.md
!Rakefile
!mas.txt
!brew/**/*
!misc/**/*
!tasks/**/*

##### BLACKLIST #####

# neovim
.config/nvim/undofiles
.config/nvim/.netrwhist
.config/nvim/plugged

# Library
Library
